.page_header_title{
    color: white;
    font-style: italic;
}

.contact_info_box{
    /* background-color: white; */
    border-radius: 10px;
    width: fit-content;
    margin-left: 15px;
}

.contact_icon{
    /* color: rgb(68, 225, 53); */
    /* color: #2a006e; */
    color: #1064d9;
    font-size: 35px;
    margin: 0px 7px;
}

.contact{
    color: #1064d9;
}