.services_wrapper {
    flex: 1 1 30%;
    border: 5px solid #f8df00;
    padding: 15px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 7px;
}

.services_heading {
    color: white;
}
