.dashboard_table{
    align-items: center;
    color: #fff;
}

.pic_demo_header {
    background: #2a006e;
    color: white;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
    margin: auto;
    text-align: center;
    width: fit-content;
}

.demo_pic_holder{
    width: fit-content;
    margin: auto;
    height: 250px;
}

.pic{
    text-align: center;
    max-height: 100%;
    border: 5px solid black;
    border-radius: 20px;
}



.dashboard_container{
    position: relative;
    font-weight: 100;
    display: flex;
    overflow: hidden;
    column-gap: 1rem;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: fit-content;
}

.dashboard_wrapper{
    flex: 1 1 30%;
    border: 5px solid #f8df00;
    /* border: 5px solid #2a006e; */
    transition: all .2s ease-in-out;
    padding: 15px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 7px;
}

.dashboard_header{
    color: white;
    /* text-align: center;
    background-color: green;
    margin: 0px 5px;
    border-radius: 10px; */
}

@media screen and (max-width:700px){
    .dashboard_container{
        width: 96%;
        flex-direction: column;
    }
}
/* .test_card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.test_card{
    display: flex;
    align-items: center;
}

.dashboard_mode_switch_container{
    width: fit-content;
}

.dashboard_mode_switch{
    background: #2a006e;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    margin: auto;
}

.macro_header_box {
    color: white;
    width: fit-content;
    margin: auto;
}

.test_card_info {
    background-color: white;
}

.form_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.diet_form_header_box {
    display: flex;
    align-content: center;
    justify-content: center;
} */
