.page_container{
    display: flex;
    margin: auto;
    justify-content: center;
}

.all_workouts_session_container{
    /* display: flex; */
    border: 2px solid #f8df00;
    border-radius: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.month_header_center{
    text-align: center;
}

/* .movement_data{
    margin: auto;
    display: flex;
    flex-direction: column;
} */