.workout_wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
}

.workout_container{
    border: 2px solid #f8df00;
    border-radius: 20px;
    margin-top: 25px;
}

.session_container{
    margin: 5px;
}

.button_container_workout_data_output{
    /* margin: 10px 0; */
    margin: auto;
}

.form_button_workout_data{
    background-color: #ff1f06;
    color: white;
    padding: 10px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    align-items: baseline;
    
}