.update_form_container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.update_header {
    text-align: center;
}

.macro_inputs {
    text-align: center;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
}

.update_macros_button_container {
    width: 100%;
    margin: 15px 0 50px;
}
