@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Josefin+Sans:ital@1&display=swap');

.footer_container{
    margin: auto;
    width: fit-content;
}

.footer_text_style {
    font-family: 'Josefin Sans', sans-serif;
}