.login_register_form{
    color: white;
}

.login_register_form_enter_button_box{
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_register_form_switch_mode_box{
    margin-bottom: 75px;
}

.login_register_input{
    text-align: center;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
}